:root {
  --main-color: #282c34;
  --secondary-color: #61dafb;
  --white100: #fff1;
  --white-shadow: 0 0 15px 3px #fff5;
  --secondary-shadow: 0 0 15px 3px #61dafb50;
  --red-shadow: 0 0 15px 3px #f005;
}
/* General  */

.center {
  text-align: center;
}

ul{
  list-style:none;
}

h3{
  margin: 30px auto;
}
/* App  */
.App {
  min-height: 100vh;
  background-color: var(--main-color);
  color: #fff;
}
/* Header  */
header {
  background-color: var(--white100);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: var(--white-shadow);
}
/* Add Todo  */
.todo-form {
  display: flex;
  justify-content: center;
}

.todo-form input {
  padding: 10px;
  font-size: 16px;
  background-color: var(--white100);
  outline: 0;
  transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  border-color: transparent transparent #fff7;
  color: var(--secondary-color);
}

.todo-form input:focus {
  border-bottom-color: var(--secondary-color);
  color: #fff;
  background-color: #fff3;
}
/* Todo List  */
.todos {
  display: flex;
  justify-content: space-evenly;
}

/* List  */
.todo-list {
  list-style: none;
}

.todo-list .list-title{
  /* text-align:center; */
  margin:20px auto;
}
/* Button  */
.btn {
  border-color: transparent;
  border-width: 1px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--secondary-color);
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  transition: 0.8s ease-in-out;
  position: relative;
  box-shadow: none;
}

.btn.ghost {
  background-color: transparent;
  padding: 1px;
}

.btn:not(.ghost):hover {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: var(--secondary-shadow);
}

.btn.ghost:hover {
  background-color: #f003;
  border-color: #f00;
  box-shadow: var(--red-shadow);
}
/* Todo Item  */
.todo-item {
  margin-bottom: 10px;
}
.todo-item label {
  cursor: pointer;
  margin-left: 5px;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}

.todo-item label:hover {
  color: var(--secondary-color);
}

/* Spinner  */
.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 6px solid teal;
  border-color: teal transparent teal transparent;
  -webkit-animation: spinner 1.2s linear infinite;
  animation: spinner 1.2s linear infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
